.product-list {
  &__col {
    display: flex;
    align-items: stretch;
  }
}

.product-item {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  margin-bottom: calc((var(--bs-gutter-x) * .5) * 2);
  display: flex;
  flex-direction: column;
  transition: var(--transition);

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
    transform: translateY(-1px);
  }

  &_sale &__img-link,
  &_hit &__img-link {
    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      z-index: 1;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-small);
      letter-spacing: 0.05em;
      transform: rotate(-10deg);
    }
  }

  &_sale &__img-link {
    &::before {
      content: 'Акция';
      background: var(--danger);
    }
  }

  &_hit &__img-link {
    &::before {
      content: 'Хит';
      background: var(--success);
    }
  }

  &__img-link {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    position: relative;
    display: block;
    overflow: hidden;

    &:hover img {
      transform: scale(1.0125);
    }
  }

  &__img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
  }

  &__title {
    font-size: 1.25rem;
    margin: 0 0 30px 0;
  }

  &__link {
    color: var(--dark);

    &:hover {
      color: var(--danger);
    }
  }

  &__preview-text {
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: var(--font-size-small);
    color: var(--text-mutted);
  }

  &__characteristics {
    margin-bottom: 30px !important;
    font-size: var(--font-size-small);
  }

  &__prices {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
  }

  &__price {
    font-size: 2.25rem;
    font-weight: 700;
  }

  &__old-price {
    font-size: 1.45rem;
    font-weight: 700;
    color: var(--text-mutted);
    margin-left: 15px;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 3px;
      background: var(--danger);
      position: absolute;
      top: 50%;
      left: 0;
      transform: rotate(-5deg);
      opacity: 0.7;
    }
  }

  &__price-title {
    font-weight: 400;
    font-size: var(--font-size-small);
    color: var(--text-muted);
    margin-right: 10px;
  }

  &__bottom-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__btns {
    display: flex;

    @media (max-width: 575.98px) {
      flex-direction: column;
    }
  }

  &__btn {
    width: 100%;
    padding: 10px;

    &_action-more {
      margin-right: 10px;
    }

    &_action-add {
      margin-left: 10px;
    }

    @media (max-width: 575.98px) {
      &_action-more,
      &_action-add {
        margin: 0;
      }

      &_action-more {
        margin-bottom: 15px;
      }
    }
  }

  &__btn-icon {
    margin-left: 2px;
  }
}


