.pagination {
  font-weight: 500;
  --bs-pagination-padding-x: 15px;
  --bs-pagination-padding-y: 10px;
  --bs-pagination-color: var(--dark);
  --bs-pagination-border-color: var(--border-color);
  --bs-pagination-border-radius: 0;
  --bs-pagination-hover-color: var(--dark);
  --bs-pagination-hover-bg: var(--light);
  --bs-pagination-hover-border-color: var(--border-color);
  --bs-pagination-focus-color: var(--bs-link-hover-color);
  --bs-pagination-focus-bg: var(--light);
  --bs-pagination-active-color: var(--dark);
  --bs-pagination-active-bg: var(--warning);
  --bs-pagination-active-border-color: var(--warning);
}