:root {
  --font-size-small: 0.85rem;
  --font-size-smallest: 0.7rem;
  --transition: all .25s ease-in-out;
  --dark: #252C30;
  --danger: #d90429;
  --danger-hover: #ba1a1a;
  --success: #019127;
  --success-hover: #12d145;
  --border-color: #ecf2ee;
  --white: #ffffff;
  --text-muted: #6c757d;
  --border-radius: 8px;
}

body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Montserrat', Arial, sans-serif;
  color: var(--dark);
  background: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  transition: var(--transition);
  color: var(--danger);

  &:hover {
    color: var(--danger-hover);
  }
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: all .25s ease-in-out;

  &.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 20px;
  margin-bottom: 40px;

  font-weight: 700;
  line-height: 1.2;
  color: var(--dark);
  letter-spacing: 0.025em;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.85rem;
}

h3,
.h3 {
  font-size: 1.625rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.375rem;
}

.bg-none {
  background: none !important;
}

.sticky-top {
  z-index: 1000 !important;
}

.alert {
  border: none;
  border-radius: 0;
}

.alert-danger {
  --bs-alert-color: var(--white);
  --bs-alert-bg: var(--danger);
}

.btn-close {
  background: transparent;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0;
  border-radius: 0;
  font-size: 1.5rem;
}

.btn {
  padding: 12px 30px;
  font-weight: 500;
  transition: var(--transition);
  border-radius: var(--border-radius);
  font-size: var(--font-size-small);
  letter-spacing: 0.05em;
}

.btn-sm {
  padding: 5px 12px;
  font-size: var(--font-size-smallest);
  border-radius: 4px;
}

.btn-danger {
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--danger);
  --bs-btn-border-color: var(--danger);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--danger-hover);
  --bs-btn-hover-border-color: var(--danger-hover);
  --bs-btn-active-color: var(--white);
  --bs-btn-disabled-color: var(--white);
  --bs-btn-disabled-bg: var(--danger);
  --bs-btn-disabled-border-color: var(--danger);
}

.btn-outline-danger {
  --bs-btn-color: var(--danger);
  --bs-btn-border-color: var(--danger);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--danger);
  --bs-btn-hover-border-color: var(--danger);
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--danger);
  --bs-btn-active-border-color: var(--danger);
  --bs-btn-disabled-color: var(--danger);
  --bs-btn-disabled-border-color: var(--danger);
}

.btn-outline-light {
  --bs-btn-color: var(--white);
  --bs-btn-border-color: var(--white);
  --bs-btn-hover-bg: var(--white);
  --bs-btn-hover-border-color: var(--white);
  --bs-btn-active-bg: var(--white);
  --bs-btn-active-border-color: var(--white);
  --bs-btn-disabled-color: var(--white);
  --bs-btn-disabled-border-color: var(--white);
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;

  &__name {
    color: var(--dark);
    font-weight: 800;
    font-size: 2.75rem;
    letter-spacing: 0.05em;
  }

  &__description {
    color: var(--text-muted);
    font-size: var(--font-size-small);
  }
}

.main-footer {
  background: #2d3436;
  color: var(--white);

  &__logo .logo__name {
    color: var(--white);
  }

  &__copyright {
    font-size: var(--font-size-small);
    text-align: center;
    padding: 10px 0;
  }
}